embed {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 93%;
}

.bg-color {
    background: #8EE4AF;
}

ul.main-menu li a {
    color: white;
    font-weight: bold;
    background-color: #379683;
    border-radius: 10px;
}

li.main-drop-menu ul{
    color: white;
    background-color: #379683;
}

.my_nav {
    background-color: #379683;
}

.my_nav a:hover {
    background-color: #5CDB95;
    border-radius: 10px;
}

.my_info {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    background-color: #EDF5E1;
    border-radius: 20px;
    margin-top: 50px;
    color: #05386B;

}

.form-fields{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.field-bg{

}

.pics {
    border-radius: 10px;
    border: 5px #379683 solid;
    margin: 10px;
}