.bg-color {
    background: #fabda5;
}

ul.main-menu li a {
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px #1C64D4;
    background-color: #9cc2ff;
}

li.main-drop-menu ul{
    color: white;
    background-color: #85b4ff;
}

.my_nav {
    background-color: #9cc2ff;
}

.my_nav a:hover {
    background-color: #1C64D4;
    border-radius: 10px;
}

.my_info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    background-color: #9cc2ff;
    border-radius: 20px;
    margin-top: 50px;

}


