{% extends 'base.html' %}

{% block content %}
    <h3>Experience</h3>
    <div class="my_info">
        <img>
        <h4>Role: Program Support and Event Coordinator</h4>
        <p>Organization: SAGA Summer Camp</p>
        <p>Details:</p>
        <ul>
            <li>Designed various events and activities for campers</li>
            <li>Planned and hosted staff socials</li>
            <li>Help with the creation</li>
        </ul>
    </div>

    <div class="my_info">
        <img>
        <h4>Role: Program Support and Event Coordinator</h4>
        <p>Organization: SAGA Summer Camp</p>
        <p>Details:</p>
        <ul>
            <li>Designed various events and activities for campers</li>
            <li>Planned and hosted staff socials</li>
            <li>Help with the creation</li>
        </ul>
    </div>

    <div class="my_info">
        <img>
        <h4>Role: Program Support and Event Coordinator</h4>
        <p>Organization: SAGA Summer Camp</p>
        <p>Details:</p>
        <ul>
            <li>Designed various events and activities for campers</li>
            <li>Planned and hosted staff socials</li>
            <li>Help with the creation</li>
        </ul>
    </div>

{% endblock %}
