{% extends 'base.html' %}

{% block content %}

    <div class="my_info">
        <h3>Ana Mayer</h3>
        <img>
        <p>School: St. Thomas Aquinas CSS</p>
        <p>Email: ana.mayer.int@gmail.com</p>
        <p>Key Skills:</p>
        <ul>
            <li>Collaboration</li>
            <li>Communication</li>
            <li>Time Management</li>
        </ul>

        <h4>A bit about me...</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

{% endblock %}
