{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="my_info row align-items-start">
        <div class="col">
          <h2>Ana Mayer</h2>
            <img src="static/images/me2.png" class="pics">
            <p><b>School: University of Toronto Mississauga</b></p>
            <p><b>Major: Computer Science, Mathematics, Statistics</b></p>
            <p><b>Email: ana.mayer.int@gmail.com</b></p>
            <p><b>Key Skills:</b></p>
            <ul>
                <li><b>Collaboration</b></li>
                <li><b>Communication</b></li>
                <li><b>Time Management</b></li>
            </ul>
        </div>
        <div class="col">
          <h4>A bit about me...</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
            <img src="static/images/me1.jpg" class="pics" style="width: 90%;">
        </div>
        </div>
      </div>


{% endblock %}
